body {
    background-color: #1F2937;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}



.kiko {
    color: cornsilk;
    font-size: 27px;
    padding-left: 130px;
    font-family: 'Times New Roman', Times, serif;

}

.right-links {
    color: cornsilk;
    font-size: 17px;
}

a {
    color: cornsilk;
    text-decoration: none;
}

.img {
    max-width: 100%;
    height: auto;
}

.head {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.text {
    font-size: 18px;
    color: #E5E7EB;

}




/* Flexbox starts here */
/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 35px;

}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

/* Hero section */

.hero {
    height: 200px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    border-style: soli;
    margin-top: 100px;
    gap: 200px;

}

.kiko-img {
    display: flex;
    flex: 1;
    align-items: center;
    width: 400px;
    height: 325px;
    overflow: hidden;
    padding-right: 120px;

} 

.head1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    border-style: soli;
    gap: 30px;
    padding-left: 150px;
    text-align: left;
}

.head{
    padding: 5px;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: whitesmoke;
}

.text {
   padding-right: 20px;
}

.button {
    background-color: #3882f6;
    width: 130px;
    height: 40px;
    border-radius: 15px;
}

/* Some random information section */

.container {
    margin-top: 100px;
    display: flex;
    flex: 1;
    flex-direction: column;
    border-style: soid;
    background-color: white;
    justify-content: center;
    align-items: center;

}

.info {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 300px;
    border-style: soid;
    height: 300px;
}

.title {
    display: flex;
    flex: 1;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    justify-content: center;
    margin: 32px;
}

.subtext {
    flex: 1;
    display: flex;
    gap: 30px;
    
}

.sub-img {
    display: flex;
    flex: 1;
    align-items: center;
    width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 30px;
}

.fonts {
    color: rgb(85, 80, 85);
    font-size: 15px;
    font-weight: 700;
}

/* Testimonial section */

.testimonial {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}

.text-testimonial {
    display: flex;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    justify-content: center;
}

.customer {
    text-align: end;
    font-size: 20px;
    font-weight: 900;
    color: #1F2937;
}


/* CTA section */

.cta {
    text-align: center;
    background-color: white;
    margin: 50px;
    border-radius: 15px;
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.call-to-action {
    font-size: 20px;
    font-weight: 800;
    color: #1F2937;
    inline-size: 500px;
}

.cta-button {
    background-color: #3882f6;
    width: 130px;
    height: 40px;
    border-radius: 15px;
}

/* Footer section */

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.footer-p {
    align-items: center;
    color: #121820;
    font-weight: 800;
}

.I {
    display: flex;
    color: #121820;
    font-weight: 800;
    gap: 10px;
}